.vis3-container {
  background-color:#41B3A3;
  padding:2rem;
  color:white;
}

.vis3-title-container {
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:1rem;
}

.vis3-title-text {
  font-size:3rem;
  margin:0;
}

.vis3-title-select {
  margin: 0 1.25rem;
  height:100%;
  font-size:2rem;
  border-radius: 20px;
  padding: 0.5rem;
  background: #E8A87C;
  color: white;
}

.vis3-content-container {
  display: grid;
  grid-template-columns: 60% 40%;
}

.vis3-slider {
  width: 100% !important;
}

.vis3-slider-label {
  float: left;
  font-weight: normal;
  margin: 0rem 0 1rem 0;
}