#visualization2slider {
    direction: rtl;
  }
  
  #tooltip {
    display: block;
  }

.visualization-container {
  margin: 5em;
  height: 800px;
  margin-bottom: 0;
}

.vis2canvas {
  height:600px !important;
}
  
.v2-grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 3em;
}

.text-container {
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 21px 40px;
  width: fit-content;
  height: fit-content;
  text-align: left;
}

.vis2-select {
  font-size:1rem;
  border-radius: 5px;
  background: #E8A87C;
  color: white;
  font-family: 'Fredericka the Great';
}
